@import "bootstrap/scss/functions";

$primary: #ad4242;
$secondary: #315b85;
$success: #198754;
$info: #daffef;
$warning: #fff07c;
$danger: #9e2020;

@import "bootstrap/scss/variables";

$custom-colors: (
  "menu1": #7e57c2,
  "menu2": #ff8a65,
  "menu3": #6da6df,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";
